streamlit
langchain
langchain-community
langchain-chroma
langchain-ollama
langgraph
tiktoken
python-dotenv
nltk
sentence-transformers
langchain_huggingface
gpt4all
pypdf
faiss-cpu
# Remove these if not needed:
# transformers
# torch
# flask
# peft
#run with pip install -r requirements.txt
