streamlit
langchain
langchain-community
langchain-chroma
langchain-ollama
langgraph
tiktoken
python-dotenv
nltk
transformers
torch
sentence-transformers
langchain_huggingface
gpt4all
pypdf
pysqlite3-binary 

#run with pip install -r requirements.txt
