streamlit
langchain
langchain-community
langchain-chroma
langchain-ollama
langgraph
tiktoken
python-dotenv
nltk
transformers
torch
sentence-transformers
langchain_huggingface
gpt4all
pypdf
flask
peft
pysqlite3-binary>=0.5.0  
chromadb>=0.4.15

#run with pip install -r requirements.txt
